@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  font-style: normal;
  src: local("IBM Plex Sans ExtraLight"), url("../fonts/web/eot/IBMPlexSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/desktop/mac/IBMPlexSans-ExtraLight.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: normal;
  src: local("IBM Plex Sans Light"), url("../fonts/web/eot/IBMPlexSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/web/woff2/IBMPlexSans-Light-Latin1.woff2") format("woff2"), url("../fonts/web/woff/IBMPlexSans-Light-Latin1.woff") format("woff"), url("../fonts/desktop/mac/IBMPlexSans-Light.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  src: local("IBM Plex Sans Regular"), url("../fonts/web/eot/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/web/woff2/IBMPlexSans-Regular-Latin1.woff2") format("woff2"), url("../fonts/web/woff/IBMPlexSans-Regular-Latin1.woff") format("woff"), url("../fonts/desktop/mac/IBMPlexSans-Regular.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;
  src: local("IBM Plex Sans Bold"), url("../fonts/web/eot/IBMPlexSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/desktop/mac/IBMPlexSans-Bold.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Bold.ttf") format("truetype");
}

#container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 960px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  text-decoration: none;
}

strong,
b {
  font-weight: 700;
}

header {
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: 400;
}

header .fa-map {
  width: 60px;
  text-align: center;
}

header a {
  display: block;
  color: black;
}

header h1 {
  margin-left: 20px;
  width: 860px;
  text-align: center;
}

.map-page header {
  padding: 0;
  height: 112px;
}

.map-page header a {
  padding-top: 38px;
}

.map-page header h1 {
  margin: 8px 0;
  padding: 20px 0 16px;
  font-size: 24px;
}

.map-page header h1 b {
  display: block;
  margin: 8px 0;
}

nav {
  width: 80px;
}

nav li {
  position: relative;
  width: 60px;
  text-align: center;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
  color: black;
  font-size: 18px;
}

nav li a:hover::before {
  position: absolute;
  top: 0;
  left: 100%;
}

nav li.current a::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  left: 100%;
}

nav li.current:nth-child(1) a::before {
  border-left-color: #f5a3b0;
}

nav li.current:nth-child(2) a::before {
  border-left-color: #9cc5d7;
}

nav li.current:nth-child(3) a::before {
  border-left-color: #f7f3ac;
}

nav li.current:nth-child(4) a::before {
  border-left-color: #c6a2f5;
}

nav li.current:nth-child(5) a::before {
  border-left-color: #9cd7ab;
}

nav li.current:nth-child(6) a::before {
  border-left-color: #f7d5a7;
}

nav li.current:nth-child(7) a::before {
  border-left-color: #f79cd0;
}

nav li:nth-child(1) {
  background-color: #f5a3b0;
}

nav li:nth-child(1) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f5a3b0;
}

nav li:nth-child(2) {
  background-color: #9cc5d7;
}

nav li:nth-child(2) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #9cc5d7;
}

nav li:nth-child(3) {
  background-color: #f7f3ac;
}

nav li:nth-child(3) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f7f3ac;
}

nav li:nth-child(4) {
  background-color: #c6a2f5;
}

nav li:nth-child(4) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #c6a2f5;
}

nav li:nth-child(5) {
  background-color: #9cd7ab;
}

nav li:nth-child(5) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #9cd7ab;
}

nav li:nth-child(6) {
  background-color: #f7d5a7;
}

nav li:nth-child(6) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f7d5a7;
}

nav li:nth-child(7) {
  background-color: #f79cd0;
}

nav li:nth-child(7) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f79cd0;
}

main {
  background-color: #e3e3e3;
  padding-top: 46.4px;
  width: 860px;
}

main p {
  padding-left: 80px;
  width: 720px;
  line-height: 26px;
  font-weight: 300;
}

main ul {
  background-color: #f0f0f0;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  counter-reset: listStyle;
}

main li {
  counter-increment: listStyle;
}

main li::before {
  font-weight: 700;
  content: counter(listStyle, upper-alpha);
}

picture {
  display: block;
  padding-bottom: 80px;
  text-align: center;
}

picture img {
  padding-top: 80px;
}

picture.nineteen-forty {
  background-color: #f5a3b0;
}

picture.nineteen-fifty-six {
  background-color: #9cc5d7;
}

picture.nineteen-fifty-nine {
  background-color: #f7f3ac;
}

picture.nineteen-sixty {
  background-color: #c6a2f5;
}

picture.nineteen-sixty-two {
  background-color: #9cd7ab;
}

picture.nineteen-seventy {
  background-color: #f7d5a7;
}

picture.nineteen-eighty {
  background-color: #f79cd0;
}

.bullet {
  color: #b4b4b4;
}

.map-page main {
  padding-top: 0;
}
